html {
    background-color: black;
    text-align: center;
    color:white;
    font-family: Verdana;
}

header > h1 {
    font-size: 50px;
    font-weight: normal;
}

h2 {
    font-size: 42px;
    font-weight: 400;
}

footer {
    text-align: right;
}

.link {
    color: aquamarine;
    font-size: 16px;
}

.subnote {
    color: gray;
    font-size: 21px;
}

.camp {
    width: auto ;
    max-width: 100% ;
    height: auto ;
}